/Makefile
/Makefile.in
/README.tex
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/search
/src/.deps/
/src/.dirstamp
/src/individual/.deps/
/src/individual/.dirstamp
/stamp-h1
